.actionBanners {
  margin: 3rem 0 2.2rem 0;

  .box {
    &:nth-child(odd) {
      .actionBanner .wrappText {
        left: 2.5rem;
        width: 18rem;
        h5 {
          color: var(--dark-gray-color);
        }
      }
      padding-right: 1.3rem;
    }
    &:nth-child(even) {
      .actionBanner .wrappText {
        right: 2.5rem;
        text-align: right;
        h5 {
          text-transform: uppercase;
        }
      }
      padding-left: 1.3;
    }
    .actionBanner {
      height: 16rem;
      position: relative;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .wrappText {
        position: absolute;
        top: 1.5rem;
        width: 15rem;
        h5 {
          font-size: 2.5rem;
          line-height: normal;
          color: var(--white-color);
        }
        p {
          color: var(--white-color);
          transition: all 0.3s ease-in-out;
          display: block;
          margin-top: 1rem;
          font-size: 1.1rem;
        }
      }
    }
  }
}

// RESPONSIVE 

@media (max-width: 768px) {
  .actionBanners {
    .box {
      &:nth-child(odd) {
        padding: 0 1rem;
        margin-bottom: 1rem;
      }
      &:nth-child(even) {
        padding: 0 1rem;
      }
    }
  }
}