.cardsSupport {
  margin: 3.5rem 0;
  padding: 0 12rem;
  .cardSupport {
    background-color: var(--dark-gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 7px;
    img {
      padding-right: 1rem;
      width: 60px;
      filter: brightness(0) invert(1) !important;
    }
    p {
      display: flex;
      flex-direction: column;
      color: var(--white-color);
      span {
        font-weight: 600;
      }
    }
  }
}

// RESPONSIVE
@media (max-width: 1625px) {
  .cardsSupport {
    padding: 0 4rem;
  }
}

@media (max-width: 1400px) {
  .cardsSupport {
    padding: 0;
    .articles {
      order: -1;
    }
  }
}

@media (max-width: 1250px) {
  .cardsSupport {
    .cardSupport {
      position: relative;
      // margin-bottom: 1.5rem;
      p {
        opacity: 0;
        position: absolute;
        bottom: calc(100% + 5px);
        transform: translateY(-100%);
        background-color: var(--red-color);
        width: 100%;
        transition: all 0.5s;
        padding: 0.3rem 1rem;
        border-radius: 5px;
      }
      &:hover {
        p {
          opacity: 1;
          transform: translateY(0);
          &::after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-color: var(--red-color) transparent transparent transparent;
            transform: scale(1);
            top: 100%;
          }
        }
      }
      img {
        padding-right: 0;
      }
    }
  }
}

@media (max-width: 992px) {
  .cardsSupport {
    .cardSupport {
      p {
        width: max-content;
        left: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .cardsSupport {
    .cardSupport {
      padding: 0.5rem;
      &.cardSupportMob {
        p {
          right: 0;
          left: auto;
        }
        &:hover {
          p {
            right: 0 !important;
            left: auto;
            &::after {
              right: 1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .cardsSupport {
    .cardSupport img {
      width: 70%;
    }
    .container {
      padding: 0 2rem;
    }
  }
}

@media (max-width: 370px) {
  .cardsSupport {
    .cardSupport {
      padding: 0.2rem;
    }
  }
}
