.blog-posts {
    width:100%;
    margin-top: 5rem;
    padding: 0 20rem;
}
.post-container {
    padding: 1rem 2rem;
}
.head-banner {
    width:100%;
}
@media (max-width:1659.98px) {
    .blog-posts {
        padding: 0 10rem;
    }
}
@media (max-width:1459.98px) {
    .blog-posts {
        padding: 0 5rem;
    }
}
@media (max-width:1199.98px) {
    .blog-posts {
        padding: 0 10rem;
    }
}
@media (max-width:991.98px) {
    .blog-posts {
        padding: 0 5rem;
    }
}
@media (max-width:899.98px) {
    .blog-posts {
        padding: 0 1rem;
        margin-top: 2rem;
    }
    .post-container {
        padding: 1rem 0.5rem 1rem 0.75rem;
    }
}
@media (max-width:575.98px) {
    .blog-posts {
        padding: 0 1rem;
    }
}