.map-container-container {
  position: relative;
}
.map-container {
  width: 100%;
  overflow: hidden;
  height: 450px;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.content-container {
  padding: 22rem 0rem 4rem 0rem;
  width: 1200px;
  margin: 0 auto;
}
.contact {
  box-shadow: 0 0 10px v#d4d4d4;
}
.contact-info {
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ed1c24;
}
.call-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
.call-center-heading {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 2rem;
}
.bolded-faces {
  font-weight: 600;
  font-size: 0.875rem;
}
.phone-numbers {
  margin-bottom: 0.5rem;
}

.working-hours {
  display: flex;
  font-size: 0.9375rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.working-hours-heading {
  font-weight: 500;
  font-size: 1.125rem;
}
.working-hours-shops {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #fff;
  }
}

.working-hours-day {
  display: block;
  font-weight: 500;
}
.working-hours-hour {
  font-weight: 400;
}

.contact-downloads {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
.downloads-icon {
  height: 50px;
  margin-bottom: 1rem;
}
.downloads-heading {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.downloads-subheading {
  font-weight: 600;
  margin-bottom: 2rem;
}
.download-link {
  display: block;
  margin-bottom: 0.25rem;
}

.contact-form {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.contact-form-input {
  border: none;
  border-bottom: 1px solid #d4d4d4;
  background-color: #fff;
  margin-bottom: 2rem;
  font-size: 0.875rem;
  padding: 0.5rem 0;
  width: 100%;
  &:focus {
    outline: none;
  }
}
.contact-select {
  border: none;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  font-size: 0.875rem;
  color: var(--black-color);
  &:focus {
    outline: none;
  }
}
.contact-form-text-1 {
  display: block;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
}
.contact-form-text {
  font-size: 0.875rem;
  font-weight: 500;
}
.contact-form-textarea {
  resize: none;
  border: 1px solid #d4d4d4;
  font-size: 0.875rem;
  &:focus {
    outline: none;
  }
}
.contact-button {
  margin: 2rem 0 1rem 0;
  padding: 0.5rem 2rem;
  width: fit-content;
  border-radius: 5px;
  border: none;
  color: var(--black-color);
  font-weight: 550;
  background-color: #d4d4d4;
  &:active {
    color: #fff;
    background-color: #d4d4d4;
  }
}
.contact-submit {
  margin: 2rem 0 1rem 0;
  padding: 0.5rem 6rem;
  color: #fff;
  width: fit-content;
  border-radius: 5px;
  border: none;
  font-weight: 550;
  background-color: #ed1c24;
  &:active {
    background-color: #253141;
  }
}
.checkbox-label {
  padding-left: 1rem;
  line-height: 0.9375rem;
  font-size: 0.875rem;
  font-weight: 500;
}
.checkbox-container {
  align-items: flex-start;
  margin-top: 1rem;
}
.checkbox {
  border: 1px solid #747579;
  &:focus {
    border: 1px solid #747579;
  }
  &:checked {
    border: 1px solid #747579;
  }
}
.captcha {
  margin: 1rem 0;
}
.malfunction-options {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1199.98px) {
  .content-container {
    width: 100%;
  }
  .contact-form {
    padding: 2rem 1rem;
  }
  .contact-info {
    padding: 1rem;
  }
}
@media (max-width: 760px) {
  .content-container .contact {
    width: 100%;
    margin: 0rem;
  }
}
