.support-page-holder {
    .middle-holder {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
     }
     .row-form {
         margin-bottom: 0.8rem;
     }
     .row-form-custom{
        display: block;
        .text-input {
            width: 100%;
        }
    }
 }
 .mr-4 {
     margin-right: 0.6rem;
 }

.head-holder {
    margin-bottom: 3rem;
}
.input-button {
    margin-top: 1rem;
    padding: 0.4rem 1.2rem;
    background-color: var(--red-color);
    border: 1px solid var(--red-color);
    &:hover {
        background-color: var(--dark-gray-color);
        border: 1px solid var(--dark-gray-color);
    }
}
.send-request-text {
    margin-top: 2rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
     p {
         margin-bottom: 0rem;
     }
     p:last-child {
         font-weight: 600;
     }
}
.title-holder h5 {
    margin: 1rem 2rem 1.6rem 2rem;
    text-transform: uppercase;
}

@media (max-width:992.98px) {
    .support-page-holder {
        .middle-holder {
            width: 80%;
        }
    }
    .title-holder h5 {
        margin: 1rem 2rem 1.6rem 0.2rem;
    }
}
@media (max-width:600.98px) {
    .support-page-holder {
        .middle-holder {
            width: 95%;
        }
    }
}