.modal-head {
    background-color: var(--secondary-color-darker);
    color: var(--croonus-white);
    button {
      position: absolute;
      right: 30px;
      filter: invert(1) grayscale(100%) brightness(200%);
      opacity: 1;
    }
    display: flex;
    justify-content: center;
  }
  .logo {
    filter: brightness(0) invert(1);
    height: 50px;
  }
  
  .modal-body {
    color: var(--croonus-black);
    padding: unset;
    background-color: var(--croonus-white);
  }
  .modal-link {
    display: flex;
    text-decoration: none;
    border-radius: 5px;
    height: 6rem;
    padding: 1.25rem 0;
    margin: 1rem 0;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.25rem;
    color: var(--croonus-black);
    font-weight: 500;
    position: relative;
    span {
        padding-left: 8rem;
    }
    .modal-image {
        filter: brightness(0);
        height: 40px;
        margin-right: 1rem;
        position: absolute;
        left: 2rem;
    }
    &:hover {
        color: var(--croonus-white);
        background-color: var(--primary-color);
        .modal-image {
          filter: brightness(0) invert(1);
      }
    }
    &::after {
        content:'';
        position:absolute;
        width: 100%;
        height: 1px;
        background-color: var(--croonus-black);
        bottom: 0;
    }
  }
  .categories-overlay-list-item {
    height: 50px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    &:hover {
      background-color: var(--croonus-lightGray);
    }
    a {
        text-decoration: none;
        width:100%;
        display:block;
        color:var(--croonus-black);
        &:hover {
            color:var(--croonus-black);
        }
    }
  }
  .categories-overlay-list-item-active {
    height: 50px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    background-color: var(--croonus-lightGray);
    font-weight: 550;
  }
  .subcategories-overlay-list-item {
    height: 50px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    &:hover {
      background-color: var(--croonus-lightGray);
    }
  }