.modal-head {
  background-color: var(--secondary-color-darker);
  color: var(--croonus-white);
  button {
    position:absolute;
    right: 30px;
    filter: invert(1) grayscale(100%) brightness(200%);
    opacity: 1;
  }
  display:flex;
  justify-content: center;
}
.logo {
    filter: brightness(0) invert(1);
    height: 50px;
}

.modal-body {
    color:var(--croonus-black);
    background-color:var(--croonus-lightGray);
    .search-input {
        width: 100%;
        background-color: var(--croonus-lightGray);
        font-weight: 400;
        font-size: 1.25rem;
        padding: 0.5rem 2rem;
        border-bottom: 1px solid var(--croonus-black);
    }
}
