.category-list-title {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  p {
    color: #16392f;
    margin-bottom: 0.4rem;
    text-align: center;
  }
  h3 {
    font-weight: 600;
  }
}
.info-holder h5 {
  text-align: center;
  color: #16392f;
  text-transform: uppercase;
  font-size: 16px;
  min-height: 2.4rem;
}
.category-holder {
  width: 74%;
  margin-left: auto;
  margin-right: auto;
  background: var(--white-color);
  position: relative;
}
.line {
  opacity: 0;
  position: absolute;
}
.category-holder:hover .line {
  opacity: 1;
  height: 5px;
  left: 42%;
  margin-top: 0.2rem;
  width: 29px;
  background: var(--red-color);
}
.category-holder .image-holder {
  padding: 0.8rem;
  margin-bottom: 2rem;
  height: 10rem;
  border: 2px solid transparent;
  position: relative;
}
.category-holder:hover .image-holder {
  border: 2px solid #f0f0f4;
  border-radius: 0.8rem;
}
.info-holder-title {
  text-decoration: none;
}
.line-gray {
  background: #f0f0f4;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 7rem;
  z-index: -1;
}
.category-row {
  position: relative;
  z-index: 2;
}
@media (max-width: 765.98px) {
  .category-list-title {
    margin-top: 2rem;
  }
}
