.input-group-text {
  background-color: transparent;
  border: unset;
  padding: 0rem;
}
.form-check-input {
  appearance: auto;
  width: 1.1em;
  height: 1.1em;
}

.checkbox-holder {
  height: fit-content;
}
