.container {
  display: flex;
  width: fit-content;
  background-color: #f6f8f9!important;
  border-radius: 7px;
  outline: 1px solid #d4d4d4;
  .min-plus {
    width: 25px;
    justify-content: center;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    font-weight: 400;
    padding: 0 0.25rem;
    color: #747579;
  }
}

.min-plus:active {
  background-color: #f6f8f9;
}
.min-plus:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.min-plus:not(:first-child) {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.input {
  width: 2rem;
  padding: unset;
  margin: unset;
  border: none;
  text-align: center;
  background-color: transparent;
}
