.container {
  height: 100%;
  padding: 1rem 1.5rem 1.5rem;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--white-color);
  transition: all 0.2s ease-in-out;
  border-radius: 7px;
  &:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 22px -15px rgba(0, 0, 0, 0.2);
  }
  .product-img.noBorder {
    border-right: 1px solid var(--croonus-lightMedGray);
  }

  &:nth-child(3n) {
    .product-img.noBorder {
      border-right: 0;
    }
  }
}

.wrapp {
  display: flex;
  flex-direction: column;
  text-align: left;
  // align-items: flex-start;
}

.add-to-cart {
  background: var(--dark-gray-color);
  // padding: 0.4rem 1.2rem;
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  border-radius: 0.8rem 0rem 0.8rem 0rem;
  width: 4rem;
  height: 2.4rem;
  display: none;
}
.add-to-cart-image {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 25px;
    height: 25px;
    color: var(--white-color);
  }
}
.container:hover .add-to-cart {
  display: block;
}
.container .add-to-cart:hover {
  background-color: var(--red-color);
  cursor: pointer;
}
.product-img {
  width: 100%;
  height: 180px;
  max-height: 180px;
  margin: 0 auto;
  display: block;
  position: relative;
  margin: 4rem 0;
  
  
  .img {
    object-fit: contain
  }
  
}
.category-name {
  font-size: 0.725rem;
  font-weight: 500;
  color: var(--croonus-mediumGray);
  margin-bottom: 0.5rem;
}
.category-name,
.product-name {
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var(--red-color);
  }
}
.product-name {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.15rem;
  text-decoration: none;
  color: var(--navy-blue);
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  max-height: 2.3rem;
  margin-bottom: 0.5rem;
  text-align: left;
}
.price {
  display: flex;
  align-items: flex-end;
  .no-old-price {
    margin-bottom: unset;
    position: relative;
    width: fit-content;
    // height: 1.3rem;
    text-decoration: line-through;
    color: var(--croonus-mediumGray);
    text-decoration: line-through;
    text-decoration-color: var(--red-color);
  }
  .old-price {
    margin-bottom: unset;
    position: relative;
    width: fit-content;
    font-size: 0.875rem;
    // height: 1.3rem;
  }
  .new-price {
    font-weight: 550;
    font-size: 1rem;
    margin-top: 0;
    order: -1;
    margin-right: 0.5rem;
    color: var(--navy-blue);
  }
}
.discount {
  position: absolute;
  font-weight: 600;
  padding: 0 1rem;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #333;
  top: 1rem;
  color: white;
  left: 1.25rem;
}
.top-deal {
  position: absolute;
  padding: 0.2rem 0.7rem;
  border-radius: 5px;
  font-size: 14px;
  background-color: var(--red-color);
  top: 5.5rem;
  right: 1rem;
  color: white;
  font-weight: 600;
}
.fav-heart {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  border-radius: 50%;
  padding: 0.25rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: var(--red-color);
    img {
      filter: brightness(0) invert(1);
    }
  }
  img {
    width: 100%;
  }
}

.homeBoxCategory {
  border-radius: 7px;
  .product-img {
    margin: 3rem 0;
  }
  .fav-heart {
    display: none;
  }
  .biggerImg {
    height: 400px;
    max-height: 400px;
  }
  .wrapp {
    .product-name {
      margin-bottom: 0;
      white-space: nowrap;
    }
  }
}

.checkAvailability {
  display: flex;
  justify-content: center;

  a {
    background-color: var(--red-color);
    color: var(--white-color);
    padding: 0.3rem 0.7rem;
    border-radius: 7px;
    margin-top: 0.5rem;
  }
}

.box-small-gif {
  background-color: rgb(255, 255, 255, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0;
  z-index: 5;
}

.homeActionItem {
  border: 1px solid var(--red-color);
  border-radius: 35px;
  .product-img {
    height: 500px;
    max-height: 500px;
    margin: 2rem 0;
  }
  .percentSale {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 70px;
    height: 70px;
    background-color: var(--red-color);
    border-radius: 100%;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }
  .wrapp {
    width: 70%;
    .product-name {
      white-space: nowrap;
      color: var(--navy-blue);
      font-size: 0.9rem;
      font-weight: 400;
      text-transform: lowercase;
      &::first-letter {
        text-transform: uppercase;
      }
      // &:hover {
      //   color: red !important;
      // }
    }
    h5 {
      margin-bottom: 0.7rem;
      font-weight: 600 !important;
      font-size: 1.2rem !important;
    }
  }
  .price {
    .new-price {
      color: var(--red-color);
    }
  }
  .add-to-cart {
    border-radius: 15px 0 15px 0;
  }
}

.homeProductArticle {
  padding: 0;
  border-radius: 7px;
  .wrapp {
    text-align: center;
    padding: 0 1rem;
    .product-name {
      color: var(--navy-blue);
      font-size: 0.8rem;
      font-weight: 500;
      margin-top: 2rem;
      text-align: center;
      text-transform: uppercase;
    }
    .category-name {
      display: none;
    }
  }
  .product-img {
    margin: 1rem 0 0 0;
    order: -1;
    &.noImg {
      width: 200px;
      margin: 0 auto;
    }
  }
  .price {
    flex-direction: column;
    align-items: center;
  }
  .top-deal {
    top: 0.5rem;
  }
  .fav-heart {
    display: none;
  }
}

@media (max-width: 1400px) {
  .homeActionItem {
    max-width: 450px;
    margin: 0 auto;
  }
  .price {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 992px) {
  .add-to-cart {
    display: block;
  }
  .price .new-price {
    font-size: 0.8rem;
  }
  .container {
    padding: 1rem 0.7rem;
  }
  .homeBoxCategory .product-img img {
    padding: 0 !important;
  }
  .homeActionItem {
    .price {
      .new-price {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    &:nth-child(3n) {
      .product-img.noBorder {
        border-right: 1px solid var(--croonus-lightMedGray);
      }
    }
    &:nth-child(2n) {
      .product-img.noBorder {
        border-right: 0;
      }
    }
  }
}

@media (max-width: 760.98px) {
  .container {
    min-height: unset;
  }
}

@media (max-width: 576px) {
  .container {
    .product-img.noBorder {
      border-right: 0;
    }
    &:nth-child(3n) {
      .product-img.noBorder {
        border-right: 0;
      }
    }
    &:nth-child(2n) {
      .product-img.noBorder {
        border-right: 0;
      }
    }
  }
  .homeProductArticle {
    border-radius: 0.8rem;
  }
  .homeActionItem {
    max-width: 100%;
  }
}
