.spec-holder {
    ul.nav-tabs {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--light-gray-color);
    border-bottom: 1px solid var(--light-gray-color);
    width: 76%;
    margin-right: auto;
    margin-left: auto;
    }
    .nav-tabs .nav-link.active {
        background-color: var(--dark-gray-color);
        color: black;
    }
}
.spec-holder {
    margin-top: 4rem;
}

.nav-tabs .nav-link {
    padding: 0.5rem 1.4rem;
    border-radius: 0rem;
    color: var(--dark-gray-color);
    margin-top: -1px;
}
.tab-content {
    margin-top: 2.4rem;
}
.table {
    border: transparent;
}
.table tr:last-child {
    border-bottom: 1px solid #f2f2f2;
}
tbody td {
    padding-left: 1.6rem!important;
}