.header-top {
  padding: 0.75rem 25rem;
  a {
    text-decoration: none;
    font-weight: 600;
    color: var(--croonus-white);
    &:hover {
      color: var(--croonus-white);
    }
  }
  background-color: var(--secondary-color);
}
.header-middle {
  background-color: var(--secondary-color-darker);
  height: 130px;
  padding: 2.5rem 25rem;
}
.blog-logo {
  height: 100%;
  filter: brightness(0) invert(1);
}
.categories {
  display: flex;
  justify-content: space-between;
  padding: 0rem 25rem;
  align-items: center;
  margin: unset;
  background-color: var(--secondary-color-darker);
  border-top: 1px solid var(--secondary-color);
  border-bottom: 4px solid var(--primary-color);
}
.categories li a {
  text-decoration: none;
  display: block;
  padding: 1rem 1rem;
  font-weight: 550;
  color: var(--croonus-white);
  &:hover {
    color: var(--primary-color);
  }
  &:first-child {
    padding-left: unset;
  }
  &:last-child {
    padding-right: unset;
  }
}

.category-link-active {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 4px;
    top: -2px;
    left: -5%;
    background: var(--primary-color);
  }
}
.mobile-hamburger {
  display: none;
}

@media (max-width: 1659.98px) {
  .header-top {
    padding: 0.75rem 15rem;
  }
  .header-middle {
    padding: 2.5rem 15rem;
  }
  .categories {
    padding: 0 15rem;
  }
}
@media (max-width: 1459.98px) {
  .header-top {
    padding: 0.75rem 10rem;
  }
  .header-middle {
    padding: 2.5rem 10rem;
  }
  .categories {
    padding: 0 10rem;
  }
}
@media (max-width: 1199.98px) {
  .header-top {
    padding: 0.75rem 3rem;
  }
  .header-middle {
    padding: 2.5rem 3rem;
  }
  .categories {
    padding: 0 3rem;
  }
}
@media (max-width: 991.98px) {
  .header-top {
    padding: 0.75rem 0rem;
    display: flex;
    justify-content: center;
  }
  .header-middle {
    padding: 2.5rem 0rem;
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
  }
  .header-middle-link {
    display: flex;
    justify-content: center;
  }
  .categories {
    display: none;
  }
  .mobile-hamburger-icon {
    height: 30px;
    color: var(--croonus-white);
  }
  .mobile-hamburger {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    left: 1rem;
    height: 30%;
    top: 35%;
  }
}
