.servis-services-content {
  .title-holder h5 {
    margin: 1rem 2rem 1.6rem 2rem;
    text-transform: uppercase;
  }
}
.head-holder {
  margin-bottom: 3rem;
}
.card1 {
  background: #f0f0f4;
  padding: 2rem 3rem;
  width: 90%;
  h5 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
  p {
    font-weight: 300;
  }
}
.card2 {
  background: #f0f0f4;
  padding: 2rem 3rem;
  width: 90%;
  margin-left: auto;
  h5 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
  p {
    font-weight: 300;
  }
}
.badges-holder {
  display: flex;
  justify-content: center;
  margin: 3rem 0rem 4rem 0rem;
}
@media (max-width: 1100.98px) {
  .card1 {
    width: 100%;
    margin-bottom: 1rem;
  }
  .card2 {
    width: 100%;
    margin-top: 1rem;
  }
}
@media (max-width: 990.98px) {
  .servis-services-content {
    .title-holder h5 {
      margin: 1rem 2rem 1.6rem 0.2rem;
    }
  }
}
@media (max-width: 760.98px) {
  .servis-services-content {
    .title-holder h5 {
      margin: 1rem 2rem 1.6rem 0.2rem;
    }
  }
}
