.title-holder h5 {
    margin: 0rem 2rem 5rem 2rem;
    text-transform: uppercase;
}
.content-holder {
    padding: 2rem;
    .service-link {
        text-decoration: none;
        color: black;
    }
    .service-container {
        width: fit-content;
        border: 1px solid #efefef;
        background: white;
        padding: 0.8rem 0.8rem 0rem 0.8rem;
        border-radius: 0.5rem;
        -webkit-box-shadow: 0px 0px 28px -20px rgba(0,0,0,0.6);
        -moz-box-shadow: 0px 0px 28px -20px rgba(0,0,0,0.6);
        box-shadow: 0px 0px 28px -20px rgba(0,0,0,0.6);
        h5 {
            margin: 1rem;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
        }
        img {
            border-radius: 0.5rem;
            width: 100%;
        }
        &:hover {
            transform: scale(102%);
            transition: all 0.2s ease-out;
            cursor: pointer;
        }
    }
}

@media (max-width:992.98px) {
    .service-holder {
        margin-bottom: 1rem;
    }
}