.staticPages {
  padding: 2rem 0;
  h3 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 500 !important;
  }
  .staticPagesContent {
    p {
      margin-bottom: 1.2rem;
    }
    ul {
      padding-left: 1rem;
      list-style-type: disc;
      li::marker {
        color: var(--dark-gray-color);
        
      }
      ul {
        list-style-type: circle;
      }
    }
  }
}
