.container {
  padding: 0 20rem;
}

.img-heading {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 350px;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: -20%;
    z-index: -2;
    width: 100%;
  }
  .heading-gray {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    background-color: var(--croonus-black);
    z-index: -1;
  }
  span {
    max-height: 150px;
    color: var(--croonus-white);
    font-size: 2rem;
    font-weight: 700;
    padding: 0rem 6rem;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    line-height: 1.65;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.date {
  font-size: 0.875rem;
  font-weight: 500;
  display: block;
  color: var(--croonus-mediumGray);
  margin-bottom: 2rem;
}
.post-paragraph {
  font-weight: 450;
  font-size: 1.125rem;
}
.post-subheading {
    margin:1.5rem 0;
}
.post-img {
    width:100%;
    margin: 1.5rem 0;
}


@media (max-width:1399.98px) {
    .img-heading {
      span {
        font-size: 1.5rem;
      }
      img {
        top:0;
      }
    }
    .container {
      padding: 0 10rem;
    }
}
@media (max-width:991.98px) {
  .container {
    padding: 0;
  }
  .content {
    padding: 0 4rem;
  }
  .img-heading {
    img {
      position:relative;
    }
    span {
      position:absolute;
      padding: 0 4rem;
    }
    height:unset;
  }
}

@media (max-width:767.98px) {
  .content {
    padding: 0 2rem;
  }
  .img-heading {
    span {
      padding: 0 2rem;
    }
  }
}