.mobile-banner-slider {
  .slick-list {
    height: 100%;
  }
  .slick-track {
    height: 100%;
  }
  .slick-small-img-div {
    height: 100%;
  }
  .slick-small-img {
    height: 100%;
  }
  .slick-slide > div {
    height: 100%;
  }
}
