.header-top {
  background-color: #131921;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 5rem;
  border-bottom: 1px solid #333e48;
}

.contact-icon-mobile {
  display: none;
}
.header-top-link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0 2rem;
  position: relative;
  transition: all 0.1s ease-in;
  @media (hover: hover) {
    &:hover {
      color: #d41118;
      transition: all 0.1s ease-in;
    }
  }
  @media (hover: none) {
    &:hover {
      color: white;
    }
  }
  &:not(:first-child)::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 80%;
    background: #fff;
    left: 0;
    top: 10%;
  }
}
.link-icon {
  padding-right: 1rem;
}
.header-middle {
  padding: 2rem 7rem;
  height: 110px;
  background-color: #131921;
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  height: 46px;
  img {
    height: 100%;
    filter: brightness(0) invert(1);
    cursor: pointer;
  }
}

.header-middle-buttons-container {
  height: 100%;
  display: flex;
  margin-left: auto;
}
.header-middle-buttons {
  background-color: transparent;
  color: white;
  position: relative;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.375rem 0.375rem;
  margin: 0 0.5rem;
  transition: all 0.1s ease-in;
  @media (hover: hover) {
    &:hover {
      transition: all 0.1s ease-in;
      background-color: var(--secondary-color);
    }
  }
}
.header-middle-buttons-circle {
  position: absolute;
  height: 27px;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(3, 3, 3, 0.3);
  bottom: 0;
  right: 0;
  background: var(--primary-color);
}
.my-basket {
  display: flex;
  align-items: center;
}
.header-bottom {
  background-color: #333e48;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0rem 7rem;
}
.header-bottom-button {
  background-color: transparent;
  padding: 0.75rem 0;
  height: 100%;
  border: none;
  outline: none;
  display: flex;
  color: var(--croonus-white);
  transition: all 0.1s ease-in;
  .hamburger-line {
    transition: all 0.1s ease-in;
    &::after {
      transition: all 0.1s ease-in;
    }
  }
  &:hover {
    transition: all 0.1s ease-in;
    color: var(--primary-color);
    .hamburger-line {
      background-color: var(--primary-color);
      transition: all 0.1s ease-in;
      &::after {
        transition: all 0.1s ease-in;
        background-color: var(--primary-color);
      }
    }
  }
}
.product-category {
  padding-left: 2.5rem;
}
.list-hamburger {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.mobile-hamburger {
  display: none;
}
.hamburger-line {
  width: 3px;
  height: 3px;
  background-color: white;
  position: relative;
}
.hamburger-line::after {
  content: "";
  position: absolute;
  left: 5px;
  width: 25px;
  height: 3px;
  background-color: white;
}
.header-middle-buttons-search {
  display: none;
}
.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  color: var(--croonus-white);
  margin-left: 6.25rem;
}
.nav-link-item {
  padding: 0 1rem;
  transition: all 0.1s ease-in;
  color: #fff;
  text-decoration: none;
  transition: all 0.1s ease-in;
  &:hover {
    color: #ed1c24;
    transition: all 0.1s ease-in;
  }
  cursor: pointer;
}
.chevron-bottom::before {
  border-style: solid;
  border-width: 0.125rem 0.125rem 0 0;
  content: "";
  display: inline-block;
  height: 0.5rem;
  left: 0.15rem;
  position: relative;
  top: 0.35rem;
  margin-left: 1rem;
  transform: rotate(135deg);
  vertical-align: top;
  width: 0.5rem;
}
.contact-icons {
  color: var(--primary-color);
  height: 20px;
}
.header-bottom-contact-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  span {
    transition: all 0.1s ease-in;
    padding-left: 1rem;
    color: var(--croonus-white);
  }
  &:hover {
    span {
      transition: all 0.1s ease-in;
      color: var(--primary-color);
    }
  }
  margin-left: 1.5rem;
}
.header-bottom-contact {
  display: flex;
  margin-left: auto;
}
.header-top-link-mobile {
  display: none;
}
.mobile-additional-pages {
  display: none;
}

//------------------RESPONSIVE---------------------//

@media (max-width: 1650px) {
  .contact-span {
    display: none;
  }
  .search-bar {
    width: 40%;
  }
}
@media (max-width: 1500px) {
  .my-basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-left: 1rem;
    .my-basket-dash {
      display: none;
    }
  }
}

@media (max-width: 1399.98px) {
  .header-top {
    padding: 0.5rem 0rem;
  }
  .header-middle {
    padding: 2rem 2rem;
  }
  .header-bottom {
    padding: 0 2rem;
  }
  .nav-list {
    margin-left: 2rem;
  }
  .search-bar {
    margin-left: 2.75rem;
  }
}

@media (max-width: 1099.98px) {
  .nav-list {
    display: none;
  }
  .header-bottom-contact {
    display: none;
  }
  .header-top {
    display: none;
  }
  .product-category {
    display: none;
  }
  .list-hamburger {
    display: none;
  }
  .mobile-hamburger {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .mobile-additional-pages {
    display: block;
    color: var(--croonus-white);
    font-weight: 500;
    margin-left: auto;
    &:hover {
      color: var(--primary-color);
    }
  }
}

@media (max-width: 991.98px) {
  .header-middle-buttons-search {
    display: block;
  }
  .search-bar {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .header-bottom-contact-link-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .my-basket {
    display: none;
  }
  .contact-icons {
    display: none;
  }
  .contact-icon-mobile {
    display: block;
    color: white;
    &:hover {
      color: var(--primary-color);
    }
    height: 22px;
  }
  .header-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header-logo {
      width: 80%;
      height: 50px;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
    }
    .header-middle-buttons-container {
      margin: unset;
      background-color: var(--secondary-color-darker);
      height: 60px;
      position: fixed;
      justify-content: space-around;
      bottom: 0;
      padding: 0.5rem 0;
      width: 100%;
      z-index: 2;
      img {
        height: 30px;
      }
    }
  }
  .header-top-link-no-mobile {
    display: none;
  }
  .header-top-link-mobile {
    display: inline-block;
  }
  .header-top {
    justify-content: space-between;
    .header-top-link {
      &::before {
        display: none;
      }
    }
  }
}

.categories-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: white;
  overflow-y: auto;
  z-index: 2;
  padding: 2rem 0;
}
.gray-overlay {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--croonus-darkGray);
  opacity: 0.5;
  z-index: 1;
}
.flex-row {
  position: relative;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
}
.categories-overlay-x {
  cursor: pointer;
}
.categories-overlay-heading {
  font-weight: 600;
}
.categories-overlay-list-item {
  height: 50px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  &:hover {
    background-color: var(--croonus-lightGray);
  }
}
.categories-overlay-list-item-active {
  height: 50px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  background-color: var(--croonus-lightGray);
  font-weight: 550;
}
.category-container {
  position: absolute;
  width: 1200px;
  height: 80vh;
  left: 300px;
  top: 10vh;
  z-index: 2;
  background-color: var(--croonus-white);
  padding: 2rem;
  overflow-y: auto;
}
.category-container-heading {
  margin-bottom: 2rem;
}
.category-container-list-item {
  padding: 0 0.5rem;
}
