@import "~bootstrap/scss/bootstrap.scss";
@import "~react-toastify/dist/ReactToastify.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;450;500;550;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--croonus-white);
  margin: 0;
  overflow-y: scroll;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding: unset;
}

:root {
  /*     CUSTOMIZE      */
  --primary-color: #ed1c24;
  --primary-color-darker: #d41118;
  --secondary-color: #333e48;
  --secondary-color-medium: #253141;
  --secondary-color-darker: #131921;
  --border-color: rgba(30, 30, 30, 0.1);
  --croonus-alertRed: #f34f5d;
  --croonus-alertGreen: #31b931;
  --croonus-scrollColor: #cfcfcf;
  /*   COMMON COLORS    */
  --croonus-black: #030303;
  --croonus-white: #fff;
  --croonus-lightGray: #f6f8f9;
  --croonus-lightMedGray: #d4d4d4;
  --croonus-mediumGray: #747579;
  --croonus-darkGray: #333;
  --croonus-darkBlue: #015c93;
  --croonus-lightBlue: #0073b6;
  --croonus-darkGreen: #008548;
  --croonus-lightGreen: #00a65a;
  --croonus-darkRed: #b13b2d;
  --croonus-lightRed: #dd4c39;
  --croonus-darkYellow: #bb950c;
  --croonus-lightYellow: #ffcb06;
}

/*---------------- COMMON STYLES START -----------------*/
.row {
  --bs-gutter-x: 0;
}
.flex-row {
  display: flex;
}
.flex-start {
  justify-content: flex-start;
}
.display-none {
  display: none;
}
.basic-input {
  outline: none;
  border: none;
  border-radius: 10px;
}
.mandatory {
  color: var(--croonus-alertRed);
}
.basic-search-button {
  height: 100%;
  position: absolute;
  margin: auto;
  right: 0;
  top: 0;
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  outline: none;
  &:active {
    background-color: var(--primary-color-darker);
  }
  .basic-search-button-image {
    height: 100%;
    filter: brightness(0) invert(1);
  }
}
.basic-button {
  background-color: var(--primary-color);
  border: none;
  color: var(--croonus-white);
  border-radius: 10px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  outline: none;
  &:active {
    background-color: var(--primary-color-darker);
  }
}
.basic-button-sec {
  background-color: var(--secondary-color);
  border: none;
  color: var(--croonus-white);
  border-radius: 5px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  outline: none;
  &:active {
    background-color: var(--primary-color);
  }
}
.basic-radio {
  position: relative;
  &::after {
    content: "";
    display: none;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
  }
  &:checked {
    &::after {
      display: block;
    }
  }
}
.basic-link {
  color: var(--croonus-black);
  text-decoration: none;

  transition: all 0.1s ease-in;
  &:hover {
    color: var(--primary-color);

    transition: all 0.1s ease-in;
  }
}
.basic-link-white {
  color: var(--croonus-white);
  text-decoration: none;
  transition: all 0.1s ease-in;
  &:hover {
    color: var(--primary-color);

    transition: all 0.1s ease-in;
  }
}
.button-img {
  height: 100%;
  filter: brightness(0) invert(1);
}
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.banner-link {
  display: block;
  height: 100%;
  width: 100%;
}
.color-white {
  color: var(--croonus-white);
}
.color-primary {
  color: var(--primary-color);
}
.weight-500 {
  font-weight: 500;
}
.weight-600 {
  font-weight: 600;
}
.height-100 {
  height: 100%;
}
.width-100 {
  width: 100%;
}

.img-primary-color {
  filter: invert(15%) sepia(88%) saturate(3687%) hue-rotate(348deg)
    brightness(107%) contrast(98%);
}
.basic-checkbox-container {
  display: flex;
  align-items: center;
}
.form-check-input {
  border: none;
  margin-top: 0em;
  background-color: var(--croonus-lightGray);
}
.form-check-input:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

.form-check-input:checked {
  background-color: var(--primary-color);
}

.input-group-text {
  padding: 0;
  background-color: transparent;
}
.accordion-button {
  padding: 0;
  background-color: transparent;
}
.accordion-button:not(.collapsed) {
  color: black;
  background-color: transparent;
  box-shadow: none;
}
.input-group-text .accordion-button:focus,
.accordion-button:active,
.accordion-button:target,
.accordion-button:focus-within,
.accordion-button:visited {
  border-color: transparent;
  outline: 0;
  box-shadow: unset;
}
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:focus-within,
.dropdown-item:focus-visible,
.dropdown-item:visited,
.dropdown-item:hover {
  background-color: transparent !important;
}

/*---------------- COMMON STYLES END -------------------*/
